<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book a Space</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Book a Space</h1>
    <p>Book a space in one of our beautiful residences! You don't want to miss out</p>
    <form action="/spaces/new" method="GET">
        <div class='button_form'>
          <input type="submit" value="List a space" class="button">
        </div>
     </form>
    <%@spaces.each do |space|%>
      <div class='signup_form'>
        <h2><a href="/spaces/<%=space.id %>"><%=space.name %></a></h2>
        <p><% description = space.description %>
        <% if description.length > 20 %>
          <%=description[0..20] + "..." %>
        <% else %>
          <%=description %>
        <% end %>
        <%=space.price %>
        </p>
        </div>
        <%end%>

    <div class='button_3_corner'>
      <form action="/requests/<%=@user_id%>" method="GET">
        <input type="submit" value="Bookings" class="button">
      </form>
    </div>

    <div class='button_2_corner'>
        <form action="/myrequests/<%=@user_id%>" method="GET">
          <input type="submit" value="Requests" class="button">
        </form>
    </div>
    <div class='button_corner'>
      <form action="/logout" method="GET">
        <input type="submit" value="Sign out" style="float: right;" class="button">
      </form>
    </div>
  </body>
</html>
