<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book a Space</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Book a Space</h1>
    <body>Book a space in one of our beautiful residences! You don't want to miss out</body>
    <h2> <a href="/spaces/new">List a space</a> </h2>
    <main class="content-width">
    <%@spaces.each do |space|%>
      <h2><a href="/spaces/<%=space.id %>"><%=space.name %></a></h2>


      <% description = space.description %>
      <% if description.length > 20 %>
        <%=description[0..20] + "..." %>
      <% else %>
        <%=description %>
      <% end %>
      <%=space.price %>
    <%end%>
    </main>

  </body>
</html>
